.vscode/**
.vscode-test/**
src/**
tests/**
scripts/**
node_modules/**
.gitignore
.eslintrc.json
.eslintignore
eslint.config.mjs
eslint.config.js
tsconfig.json
tsconfig.test.json
tsconfig.tsbuildinfo
**/*.map
**/*.ts
**/*.test.js
**/tsconfig*.json
.editorconfig
.github/**
.git/**
.npmignore
**/.DS_Store
**/jest.config.*
**/vitest.config.*
**/.eslintcache
*.vsix
